.mainWindowContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}